.textBody {
  margin: 0 auto;
  padding: 30px 40px;
  width: 35%;
  background-color: rgb(218, 193, 193) !important;
  border-radius: 20px;
}

.h2Text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.h3Text {
  color: #1d3557;
  font-size: 24px;
}

button {
  float: right;
  padding: 4px 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btnHover:hover {
  transform: scale(1.2);
}

.visit {
  float: left;
}
