.textBody {
  margin: 0 auto;
  padding: 30px 40px;
  width: 60%;
  background-color: rgb(218, 193, 193);
}

button {
  float: right;
  padding: 4px 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btnHover:hover {
  transform: scale(1.2);
}

.visit {
  /* padding: 10px 20px; */
  float: left;
  /* background-color: rgb(130, 179, 219); */
}
